In [2]:
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

import numpy as np

import pandas as pd
# 모든 행을 출력하도록 설정
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# 기본값으로 설정 (처음 5개와 마지막 5개 행만 출력)
pd.reset_option('display.max_rows')

# 출력 포맷 설정 (소수점 4자리까지)
pd.options.display.float_format = '{:.4f}'.format

import platform
import seaborn as sns

import matplotlib.pyplot as plt

# 운영 체제 확인
if platform.system() == 'Darwin':  # Mac
    print('apple gothic')
    font_name = 'AppleGothic'
elif platform.system() == 'Windows':  # Windows
    font_name = 'NanumGothic'
else:
    font_name = None

# 한글 폰트 설정
if font_name:
    plt.rcParams['font.family'] = font_name

# 마이너스 부호 설정
plt.rcParams['axes.unicode_minus'] = False

In [3]:
import pandas as pd 

df=pd.read_csv('./dataset/3_이자보상비율계산.csv')

In [7]:
df[[
    '급여', '퇴직급여', 
    '외환차익1', '외환차익2', '외화환산이익1', '외화환산이익2', '외환차손1', '외환차손2', '외화환산손실1', '외환환산손실2',
    '판매비와 관리비(물류원가 등 포함)', '매출원가', '매출액', '감가상각비', '대손상각비', '개발비상각', '기타무형자산상각비',
    '상품매출원가', '제품매출원가'
]].describe()

,급여,퇴직급여,외환차익1,외환차익2,외화환산이익1,외화환산이익2,외환차손1,외환차손2,외화환산손실1,외환환산손실2,판매비와 관리비(물류원가 등 포함),매출원가,매출액,감가상각비,대손상각비,개발비상각,기타무형자산상각비,상품매출원가,제품매출원가
count,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22022.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000
mean,36039511.6941,2764176.8802,6018561.7259,268999.6081,2729512.3214,92800.4854,6210158.7840,270255.7789,2951368.0251,98383.9144,190859010.9174,960633824.0627,1227286483.6370,10921779.9798,1547320.6099,411.9369,2327817.2556,2850420.0535,32499.9189
std,206037233.5479,15970467.4752,74995716.0080,7097837.2490,28065671.8566,7081489.3907,80848930.2413,7381673.7759,27344902.6218,6825232.6284,1571990273.0263,5749425600.4060,7700293274.6774,117631116.9937,14499452.8041,28571.3645,21040538.7605,80626616.4853,1696666.2076
min,0.0000,-8109890.0000,-338691.0000,0.0000,-1960666.0000,-620403.0000,-4758.0000,-163257.0000,-330660.0000,-347768.0000,-273166248.0000,0.0000,0.0000,-35751.0000,-465533976.0000,0.0000,-24465.0000,-1513.0000,-2019397.0000
25%,2668846.0000,214672.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,9048176.0000,31495512.0000,49572976.0000,208544.0000,0.0000,0.0000,9903.0000,0.0000,0.0000
50%,5607318.0000,485402.0000,2053.0000,0.0000,0.0000,0.0000,1372.0000,0.0000,67.0000,0.0000,19707509.0000,93439308.0000,132663702.0000,541804.0000,31452.0000,0.0000,115144.0000,0.0000,0.0000
75%,14721238.0000,1249260.0000,505257.0000,0.0000,155942.0000,0.0000,403978.0000,0.0000,186356.0000,0.0000,55922676.0000,302669250.0000,400717698.5000,1715718.0000,440390.0000,0.0000,558772.0000,0.0000,0.0000
max,7763588000.0000,1293059000.0000,5582146000.0000,567805000.0000,1393527000.0000,1030656000.0000,6232241000.0000,602484000.0000,1197174000.0000,979956000.0000,68812960000.0000,190041770000.0000,302231360000.0000,3991083000.0000,587708000.0000,3790844.0000,719652000.0000,4592654000.0000,167626914.0000

## 생산성지표

## 외화관련 

    외화 수익 음수값은 그냥 그대로 둬도 괜찮지만, 차손과 손실쪽 음수값은 +의미임
    따라서 보수적으로 보기 위해 걍 0원처리 필요함

## 상품매출원가, 제품매출원가 음수 확인필요

In [10]:
df[df['상품매출원가'] < 0][['거래소코드','회계년도','상품매출원가','회사명']]

#todo
#판매한 재고가 매입한 재고보다 비싼케이스로 보임. 
#보수적으로 보기 위해서 0원처리해도 무방

        거래소코드     회계년도     상품매출원가       회사명
21953  363260  2022/12 -1513.0000  (주)모비데이즈

    매출원가 = 기초상품 재고액 + 당기상품 매입액 - 기말상품 재고액

In [11]:
df[df['제품매출원가'] < 0][['거래소코드','회계년도','제품매출원가','회사명']]
#영업비용 세부항목에서 파악가능. 
#이거 지금 과거에 지출로 했다가 지금 파악하니 싸져서 다시 환급한거임 
#보수적으로 볼 경우 0원처리하면 될듯.

        거래소코드     회계년도        제품매출원가       회사명
11454   53800  2021/12 -1835954.0000     (주)안랩
11455   53800  2022/12 -1651720.0000     (주)안랩
19841  207760  2015/12   -46819.0000  미스터블루(주)
19842  207760  2016/12   -52330.0000  미스터블루(주)
19843  207760  2017/12   -56551.0000  미스터블루(주)
19844  207760  2018/12  -257901.0000  미스터블루(주)
19845  207760  2019/12   -80262.0000  미스터블루(주)
19846  207760  2020/12  -112190.0000  미스터블루(주)
19991  214270  2019/12   -59266.0000  (주)에프에스엔
19992  214270  2020/12  -308244.0000  (주)에프에스엔
19993  214270  2021/12  -765821.0000  (주)에프에스엔
19994  214270  2022/12 -2019397.0000  (주)에프에스엔

## 파생변수

In [16]:
df[['영업활동으로 인한 현금흐름', '감가상각비', '개발비상각', '기타무형자산상각비',
       '유형자산의 증가', '무형자산의 증가', '장기매출채권 및 기타비유동채권', '매출채권 및 기타유동채권', '재고자산',
       '장기매입채무 및 기타비유동채무', '매입채무 및 기타유동채무', '연구개발비', '비유동자산', '유형자산', '무형자산',
       '매출액']].describe()

,영업활동으로 인한 현금흐름,감가상각비,개발비상각,기타무형자산상각비,유형자산의 증가,무형자산의 증가,장기매출채권 및 기타비유동채권,매출채권 및 기타유동채권,재고자산,장기매입채무 및 기타비유동채무,매입채무 및 기타유동채무,연구개발비,비유동자산,유형자산,무형자산,매출액
count,22018.0000,22021.0000,22021.0000,22021.0000,22018.0000,22018.0000,22028.0000,22028.0000,22022.0000,22028.0000,22028.0000,22018.0000,22028.0000,22022.0000,22021.0000,22022.0000
mean,102860504.4826,10921779.9798,411.9369,2327817.2556,84528250.6135,8096428.2078,12273234.0725,193577772.2579,134556225.0920,13367874.6382,208280939.3108,19990772.0110,922485475.3909,566595684.4741,51377835.0998,1227286483.6370
std,1343058117.7643,117631116.9937,28571.3645,21040538.7605,913879016.0327,74425503.3275,85356591.7336,1101005538.6673,910728967.9808,135077149.1232,1345328649.5580,414954850.2089,6536883492.4922,4846842548.9754,412151195.7199,7700293274.6774
min,-23477500000.0000,-35751.0000,0.0000,-24465.0000,-691156.0000,-914638.0000,-1258196.0000,0.0000,0.0000,0.0000,0.0000,-195502.0000,0.0000,0.0000,0.0000,0.0000
25%,-865558.2500,208544.0000,0.0000,9903.0000,1061563.7500,19447.0000,0.0000,9004788.2500,4082895.2500,0.0000,6485770.5000,0.0000,33095692.0000,14610574.5000,703573.0000,49572976.0000
50%,6325211.5000,541804.0000,0.0000,115144.0000,4665543.0000,268064.0000,210186.5000,24578995.5000,14927273.5000,151155.0000,18593181.0000,552454.5000,78407480.0000,43262481.0000,2282865.0000,132663702.0000
75%,25291942.0000,1715718.0000,0.0000,558772.0000,19023511.2500,1349019.2500,1738146.5000,73879552.2500,48025389.2500,1126716.5000,61577007.5000,2877897.0000,238829760.2500,145170098.2500,7834877.0000,400717698.5000
max,67031863000.0000,3991083000.0000,3790844.0000,719652000.0000,49430428000.0000,3696304000.0000,3040059328.0000,45210672000.0000,52187866000.0000,4959160000.0000,58746783000.0000,24919198000.0000,229953926000.0000,177865308000.0000,14453065000.0000,302231360000.0000

### 장기매출채권 음수값 확인

In [21]:
df[df['장기매출채권 및 기타비유동채권']<0][['거래소코드','회사명','회계년도','장기매출채권 및 기타비유동채권']]

      거래소코드    회사명     회계년도  장기매출채권 및 기타비유동채권
2613   5320  (주)국동  2022/12     -1258196.0000

In [24]:
df[df['거래소코드']==5320][['장기매출채권 및 기타비유동채권','회계년도']]

      장기매출채권 및 기타비유동채권     회계년도
2602            0.0000  2011/12
2603            0.0000  2012/12
2604            0.0000  2013/12
2605            0.0000  2014/12
2606            0.0000  2015/12
2607       618330.0000  2016/12
2608       976806.0000  2017/12
2609       779238.0000  2018/12
2610       744429.0000  2019/12
2611       752933.0000  2020/12
2612       658416.0000  2021/12
2613     -1258196.0000  2022/12

In [ ]:
# 거래소코드 5320 (주)국동 2022년의 장기매출채권값
# 552,295로 대체해야함

### 연구개발비 음수값 확인

In [27]:
df[df['연구개발비'] < 0][['거래소코드','회계년도','회사명','연구개발비']]
#전부 판관비에서 환입된 값들임. 
# 보수적으로 보기 위해 0원처리하면 됨.

        거래소코드     회계년도        회사명        연구개발비
9827    43220  2022/12  (주)티에스넥스젠   -5389.0000
14283   79650  2020/12      (주)서산   -4184.0000
15558   91580  2016/12   상신이디피(주) -108194.0000
15559   91580  2017/12   상신이디피(주)  -48302.0000
16863  104540  2021/12     (주)코렌텍 -195502.0000
19536  194700  2021/12    (주)노바렉스  -83953.0000

## 자산자본 관계비율

In [30]:
df[['거래소코드', '단기차입금', '매입채무 및 기타유동채무', '매출액', '매출채권 및 기타유동채권', '비유동부채',
       '비유동자산', '사채', '유동금융자산', '유동부채', '유동성장기부채', '유동자산', '자본', '자산',
       '장기매입채무 및 기타비유동채무', '장기매출채권 및 기타비유동채권', '장기차입금', '현금및현금성자산', '회계년도',
       '회사명']].describe()

,거래소코드,단기차입금,매입채무 및 기타유동채무,매출액,매출채권 및 기타유동채권,비유동부채,비유동자산,사채,유동금융자산,유동부채,유동성장기부채,유동자산,자본,자산,장기매입채무 및 기타비유동채무,장기매출채권 및 기타비유동채권,장기차입금,현금및현금성자산
count,22245.0000,22028.0000,22028.0000,22022.0000,22028.0000,22028.0000,22028.0000,22028.0000,22028.0000,22028.0000,22028.0000,22022.0000,22022.0000,22022.0000,22028.0000,22028.0000,22028.0000,22028.0000
mean,83571.1216,108234668.7862,208280939.3108,1227286483.6370,193577772.2579,345111679.9420,922485475.3909,146526587.9072,96226980.3423,460241311.2196,67516670.1985,606220380.6067,752798651.6611,1624365046.7813,13367874.6382,12273234.0725,78059025.5646,109920206.8989
std,109034.9109,615687522.9818,1345328649.5580,7700293274.6774,1101005538.6673,3097549554.7760,6536883492.4922,1793625691.1042,1460685856.5165,2615803991.2645,496387333.7678,4393202709.6987,6285912092.3976,11397877282.7546,135077149.1232,85356591.7336,462425270.8478,833816381.9417
min,20.0000,0.0000,0.0000,0.0000,0.0000,-405758.0000,0.0000,0.0000,-49391411.0000,374.0000,0.0000,874656.0000,-2666885000.0000,1473202.0000,0.0000,-1258196.0000,0.0000,129.0000
25%,15710.0000,721944.0000,6485770.5000,49572976.0000,9004788.2500,3246872.7500,33095692.0000,0.0000,1109970.2500,18167329.5000,0.0000,39025315.5000,44858267.5000,79138172.7500,0.0000,0.0000,0.0000,5203722.0000
50%,52650.0000,11186550.5000,18593181.0000,132663702.0000,24578995.5000,12218782.5000,78407480.0000,0.0000,6248157.0000,49235113.0000,796140.0000,81496448.5000,92154155.0000,166417299.0000,151155.0000,210186.5000,2142640.0000,13887869.5000
75%,102210.0000,46693790.0000,61577007.5000,400717698.5000,73879552.2500,48798385.5000,238829760.2500,0.0000,23167577.7500,152203523.7500,9653000.0000,215120214.2500,240371930.2500,474031897.5000,1126716.5000,1738146.5000,17000000.0000,40022749.5000
max,950220.0000,23601077000.0000,58746783000.0000,302231360000.0000,45210672000.0000,148286161000.0000,229953926000.0000,95145975000.0000,92441703000.0000,88117133000.0000,25574131000.0000,218470581000.0000,354749604000.0000,448424507000.0000,4959160000.0000,3040059328.0000,17897787000.0000,49680710000.0000

### 비유동부채 음수 확인

In [34]:
df[df['비유동부채']<0][['거래소코드','회계년도','회사명','비유동부채']]
#이니텍 2022년 거래소코드 53350의 비유동부채는 순확정급여부채값이 -인것. 
#회사가 적립한 급여가 줘야하는 급여부채보다 더 많은것임. 
#긍정적이므로 보수적으로 0원처리해도 무방함. 
#16년 제넨바이오 역시 동일한 케이스

       거래소코드     회계년도       회사명        비유동부채
11356  53350  2022/12    이니텍(주) -405758.0000
13676  72520  2016/12  (주)제넨바이오   -8267.0000

In [37]:
df[df['거래소코드'] == 72520][['거래소코드','회계년도','비유동부채']]

       거래소코드     회계년도         비유동부채
13671  72520  2011/12  5352332.0000
13672  72520  2012/12  3411013.0000
13673  72520  2013/12 35044303.0000
13674  72520  2014/12  4415362.0000
13675  72520  2015/12  2446945.0000
13676  72520  2016/12    -8267.0000
13677  72520  2017/12  4914567.0000
13678  72520  2018/12 11607013.0000
13679  72520  2019/12  9734118.0000
13680  72520  2020/12 10198740.0000
13681  72520  2021/12  8632105.0000
13682  72520  2022/12 21077588.0000

### 유동금융자산 -값 확인

In [39]:
df[df['유동금융자산']<0][['거래소코드','회사명','회계년도','유동금융자산']]
#대손충당금이 유동금융자산을 초과한것임. 
#이거 0으로 봐주면 너무좋게 봐주는것.
#음수값 수식에서 문제없을 경우 그대로 쓰는게 맞음 
#식 확인 결과 음수값 들어가도 문제없음. 그냥 이거 그대로 둬야함

        거래소코드          회사명     회계년도         유동금융자산
3146     6490      (주)인스코비  2021/12   -634766.0000
3147     6490      (주)인스코비  2022/12   -651713.0000
4994    12650      쌍용건설(주)  2013/12 -49391411.0000
9787    43100  (주)솔고바이오메디칼  2018/12   -357510.0000
11010   52190     (주)세영디앤씨  2021/12  -6290120.0000
19805  205500     (주)액션스퀘어  2020/12     -3221.0000

## 전체확인 시작

In [4]:
df.describe()

,거래소코드,결산년도,상장년도,자산,유형자산,유동자산,재고자산,자본,매출액,매출원가,판매비와 관리비(물류원가 등 포함),기타(영업)비용,당기제조원가,급여,퇴직급여,상품매출원가,제품매출원가,감가상각비,대손상각비,개발비상각,기타무형자산상각비,외환차익1,외화환산이익1,외환차손1,외화환산손실1,외환차익2,외화환산이익2,외환차손2,외환환산손실2,무형자산,건설중인자산,토지,자본잉여금,이익잉여금(결손금),미처분이익잉여금(결손금),기타임의적립금,(연차배당),(중간배당),배당금지급(-),단기차입금,매입채무 및 기타유동채무,매출채권 및 기타유동채권,비유동자산,사채,유동금융자산,유동부채,유동성장기부채,장기매입채무 및 기타비유동채무,장기매출채권 및 기타비유동채권,장기차입금,현금및현금성자산,영업활동으로 인한 현금흐름,유형자산의 증가,무형자산의 증가,연구개발비,종업원1인당 매출액(IFRS)(백만원),종업원1인당 부가가치(IFRS)(백만원),종업원1인당 인건비(IFRS)(백만원),종업원수(IFRS),판매비와 관리비,비유동부채,영업활동현금흐름,부채,유형자산의증가,유형자산의감소,(투자활동으로 인한 현금유출액),투자활동으로 인한 현금유입액,자본금,관계기업 등 지분관련 투자자산,영업손익,이자보상배율
count,22245.0000,22245.0000,22245.0000,22022.0000,22022.0000,22022.0000,22022.0000,22022.0000,22022.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22021.0000,22028.0000,22028.0000,22028.0000,22028.0000,22028.0000,22028.0000,22028.0000,22028.0000,22028.0000,22028.0000,22028.0000,22028.0000,22018.0000,22018.0000,22018.0000,22018.0000,21808.0000,21808.0000,21808.0000,21808.0000,22023.0000,22028.0000,22024.0000,22024.0000,22024.0000,22024.0000,22024.0000,22024.0000,22018.0000,22018.0000,22010.0000,22010.0000
mean,83571.1216,2016.9007,2001.8278,1624365046.7813,566595684.4741,606220380.6067,134556225.0920,752798651.6611,1227286483.6370,960633824.0627,190859010.9174,1510689.4875,13744190.1059,36039511.6941,2764176.8802,2850420.0535,32499.9189,10921779.9798,1547320.6099,411.9369,2327817.2556,6018561.7259,2729512.3214,6210158.7840,2951368.0251,268999.6081,92800.4854,270255.7789,98383.9144,51377835.0998,61395028.9532,119948101.0186,136560077.3998,502507577.1722,199441531.2289,241064490.3528,10949466.4344,393979.9015,-12695982.3766,108234668.7862,208280939.3108,193577772.2579,922485475.3909,146526587.9072,96226980.3423,460241311.2196,67516670.1985,13367874.6382,12273234.0725,78059025.5646,109920206.8989,102860504.4826,84528250.6135,8096428.2078,19990772.0110,784.0530,136.2295,70.9228,785.8580,190838802.3308,345111679.9420,102842019.0598,871480089.7120,84504812.3048,4960341.4817,224066014.8556,118808452.4373,45922152.6306,108474955.2991,76099541.9120,NaN
std,109034.9109,3.4471,12.0756,11397877282.7546,4846842548.9754,4393202709.6987,910728967.9808,6285912092.3976,7700293274.6774,5749425600.4060,1571990273.0263,39380747.0926,140397353.4580,206037233.5479,15970467.4752,80626616.4853,1696666.2076,117631116.9937,14499452.8041,28571.3645,21040538.7605,74995716.0080,28065671.8566,80848930.2413,27344902.6218,7097837.2490,7081489.3907,7381673.7759,6825232.6284,412151195.7199,833749338.5325,641137427.5132,520333312.3597,5791161465.3270,2226356796.8191,3638150480.7564,205016731.8003,11695438.4795,209164111.2153,615687522.9818,1345328649.5580,1101005538.6673,6536883492.4922,1793625691.1042,1460685856.5165,2615803991.2645,496387333.7678,135077149.1232,85356591.7336,462425270.8478,833816381.9417,1343058117.7643,913879016.0327,74425503.3275,414954850.2089,1441.0666,819.1193,70.8895,3709.1842,1571920214.3611,3097549554.7760,1342875515.3264,6205015976.1962,913755589.3617,74132439.4627,1725343782.4995,1018075996.2511,196432549.6377,935514034.0246,1005592981.8084,NaN
min,20.0000,2011.0000,1956.0000,1473202.0000,0.0000,874656.0000,0.0000,-2666885000.0000,0.0000,0.0000,-273166248.0000,-124959000.0000,0.0000,0.0000,-8109890.0000,-1513.0000,-2019397.0000,-35751.0000,-465533976.0000,0.0000,-24465.0000,-338691.0000,-1960666.0000,-4758.0000,-330660.0000,0.0000,-620403.0000,-163257.0000,-347768.0000,0.0000,-75527.0000,0.0000,-574205780.0000,-4477062000.0000,-7956579000.0000,-12122695.0000,-1134582.0000,-14530923.0000,-20510350000.0000,0.0000,0.0000,0.0000,0.0000,0.0000,-49391411.0000,374.0000,0.0000,0.0000,-1258196.0000,0.0000,129.0000,-23477500000.0000,-691156.0000,-914638.0000,-195502.0000,0.0000,-48078.6300,-81.9900,0.0000,-273166248.0000,-405758.0000,-23477500000.0000,437217.0000,-691156.0000,-4884282.0000,-21952953.0000,-738082000.0000,2338.0000,-58392.0000,-32655153000.0000,-inf
25%,15710.0000,2014.0000,1996.0000,79138172.7500,14610574.5000,39025315.5000,4082895.2500,44858267.5000,49572976.0000,31495512.0000,9048176.0000,0.0000,0.0000,2668846.0000,214672.0000,0.0000,0.0000,208544.0000,0.0000,0.0000,9903.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,703573.0000,0.0000,3616554.0000,13637241.0000,4558368.0000,0.0000,0.0000,0.0000,0.0000,-2484509.0000,721944.0000,6485770.5000,9004788.2500,33095692.0000,0.0000,1109970.2500,18167329.5000,0.0000,0.0000,0.0000,0.0000,5203722.0000,-865558.2500,1061563.7500,19447.0000,0.0000,273.0975,54.4375,48.5100,94.0000,9045522.0000,3246872.7500,-855797.5000,24983863.2500,1058801.7500,8978.0000,9629479.5000,3348520.7500,5620637.2500,0.0000,-125461.7500,-0.0800
50%,52650.0000,2017.0000,2003.0000,166417299.0000,43262481.0000,81496448.5000,14927273.5000,92154155.0000,132663702.0000,93439308.0000,19707509.0000,0.0000,0.0000,5607318.0000,485402.0000,0.0000,0.0000,541804.0000,31452.0000,0.0000,115144.0000,2053.0000,0.0000,1372.0000,67.0000,0.0000,0.0000,0.0000,0.0000,2282865.0000,616625.0000,13259626.0000,32116437.0000,39801535.0000,24429693.0000,0.0000,330000.0000,0.0000,-360000.0000,11186550.5000,18593181.0000,24578995.5000,78407480.0000,0.0000,6248157.0000,49235113.0000,796140.0000,151155.0000,210186.5000,2142640.0000,13887869.5000,6325211.5000,4665543.0000,268064.0000,552454.5000,475.0300,96.4850,61.6200,199.0000,19688503.0000,12218782.5000,6325211.5000,64532936.0000,4661718.5000,86161.0000,27297106.0000,13683588.5000,10285108.5000,233808.5000,5397912.5000,4.1400
75%,102210.0000,2020.0000,2010.0000,474031897.5000,145170098.2500,215120214.2500,48025389.2500,240371930.2500,400717698.5000,302669250.0000,55922676.0000,0.0000,0.0000,14721238.0000,1249260.0000,0.0000,0.0000,1715718.0000,440390.0000,0.0000,558772.0000,505257.0000,155942.0000,403978.0000,186356.0000,0.0000,0.0000,0.0000,0.0000,7834877.0000,6468540.0000,41423032.0000,73976271.0000,134488728.0000,84227731.0000,4313000.0000,2263047.0000,0.0000,0.0000,46693790.0000,61577007.5000,73879552.2500,238829760.2500,0.0000,23167577.7500,152203523.7500,9653000.0000,1126716.5000,1738146.5000,17000000.0000,40022749.5000,25291942.0000,19023511.2500,1349019.2500,2877897.0000,838.6700,157.6125,78.8500,430.0000,55917899.5000,48798385.5000,25284480.0000,206894646.7500,19011080.0000,851326.2500,80296087.2500,49722557.7500,23637832.7500,9075459.2500,21852836.0000,22.1950
max,950220.0000,2022.0000,2022.0000,448424507000.0000,177865308000.0000,218470581000.0000,52187866000.0000,354749604000.0000,302231360000.0000,190041770000.0000,68812960000.0000,4111082823.0000,7180678802.0000,7763588000.0000,1293059000.0000,4592654000.0000,167626914.0000,3991083000.0000,587708000.0000,3790844.0000,719652000.0000,5582146000.0000,1393527000.0000,6232241000.0000,1197174000.0000,567805000.0000,1030656000.0000,602484000.0000,979956000.0000,14453065000.0000,35305133000.0000,14298409000.0000,17164627000.0000,337946407000.0000,145651911000.0000,192294496000.0000,20480721000.0000,907506864.0000,5008755.0000,23601077000.0000,58746783000.0000,45210672000.0000,229953926000.0000,95145975000.0000,92441703000.0000,88117133000.0000,25574131000.0000,4959160000.0000,3040059328.0000,17897787000.0000,49680710000.0000,67031863000.0000,49430428000.0000,3696304000.0000,24919198000.0000,45490.5100,45285.3100,5462.4500,121404.0000,68812960000.0000,148286161000.0000,67031863000.0000,192804738000.0000,49430428000.0000,9843796000.0000,97783266027.0000,93563395485.0000,3657652000.0000,27457005000.0000,58886669000.0000,inf